<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <% unless @train.wagons.empty? %>
    <table>
      <thead>
      <tr>
        <th>Wagon type</th>
        <th>Number</th>
        <th>Top seats</th>
        <th>Bottom seats</th>
      </tr>
      </thead>

      <tbody>
      <% WagonType.all.each do |wagon_type| %>
        <tr>
          <td><%= wagon_type.name %></td>
          <% wagons_by_type = @train.wagons.where(wagon_type: wagon_type) %>
          <% wagons_top_seats = wagons_bottom_seats = 0 %>
          <% wagons_by_type.each do |w| %>
            <% wagons_top_seats += w.top_seats %>
            <% wagons_bottom_seats += w.bottom_seats %>
          <% end %>
          <td><%= wagons_by_type.count %></td>
          <td><%= wagons_top_seats %></td>
          <td><%= wagons_bottom_seats %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    Train has no wagons
  <% end %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    No route assigned
  <% end %>
</p>

<p>
  <strong>Station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Train is moving
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
