<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <%= render 'wagonsinfo', train: @train %>
</p>
<p>
  <%= link_to 'Add wagon', new_train_wagon_path(@train) %>
</p>
<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    No route assigned
  <% end %>
</p>

<p>
  <strong>Station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Train is moving
  <% end %>
</p>
<p>
  <% if @train.wagons_order %>
    Wagons order from last
  <% else %>
    Wagons order from first
  <% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
