<%= form_with(model: route, local: true) do |form| %>
  <%= render 'common/error', resource: route %>

  <div class="field">
    <%= form.label 'Name' %>
    <%= form.text_field :name, id: :route_name %>
    <%= form.label 'Stations' %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Save' %>
  </div>
<% end %>