<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>
<p>
  <strong>Stations:</strong>
  <% if @route.railway_stations.empty? %>
    There is no stations
  <% else %>
    <table>
      <thead>
        <tr>
          <td>Название</td>
          <td>Позиция</td>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.number_sort.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <td>
              <%= form_with url: update_position_railway_station_path(station) , method: :patch do |form| %>
              <div class="field">
                <%= form.text_field :position, value: station.position_in(@route) %>
                <%= form.hidden_field :route_id, value: @route.id %>
              </div>
              <div class="actions">
                <%= form.submit 'Update' %>
              </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>
<p>
  <strong>Trains:</strong>
  <% if @route.trains.empty? %>
    There is no trains
  <% else %>
    <%= render @route.trains %>
  <% end %>
  
</p>

<%= link_to 'Update', edit_route_path(@route) %>
<%= link_to 'Back', routes_path %>
